<?xml version="1.0" encoding="utf-8"?>
<config>
    <modules>
        <Bubble_Launcher>
            <version>1.0.0</version>
        </Bubble_Launcher>
    </modules>
    <global>
        <helpers>
            <bubble_launcher>
                <class>Bubble_Launcher_Helper</class>
            </bubble_launcher>
        </helpers>
        <blocks>
            <bubble_launcher>
                <class>Bubble_Launcher_Block</class>
            </bubble_launcher>
        </blocks>
        <models>
            <bubble_launcher>
                <class>Bubble_Launcher_Model</class>
            </bubble_launcher>
        </models>
        <events>
            <controller_action_predispatch_adminhtml_system_config_edit>
                <observers>
                    <bubble_launcher_init_config_state>
                        <class>Bubble_Launcher_Model_Observer</class>
                        <method>initConfigState</method>
                    </bubble_launcher_init_config_state>
                </observers>
            </controller_action_predispatch_adminhtml_system_config_edit>
            <controller_action_predispatch_adminhtml_index_changeLocale>
                <observers>
                    <bubble_launcher_change_locale>
                        <class>Bubble_Launcher_Model_Observer</class>
                        <method>onChangeLocale</method>
                    </bubble_launcher_change_locale>
                </observers>
            </controller_action_predispatch_adminhtml_index_changeLocale>
            <catalog_product_save_after>
                <observers>
                    <bubble_launcher_product_save_after>
                        <class>Bubble_Launcher_Model_Observer</class>
                        <method>clearProductsIndexCache</method>
                    </bubble_launcher_product_save_after>
                </observers>
            </catalog_product_save_after>
            <catalog_product_delete_after_done>
                <observers>
                    <bubble_launcher_product_delete_after>
                        <class>Bubble_Launcher_Model_Observer</class>
                        <method>clearProductsIndexCache</method>
                    </bubble_launcher_product_delete_after>
                </observers>
            </catalog_product_delete_after_done>
            <catalog_category_save_after>
                <observers>
                    <bubble_launcher_category_save_after>
                        <class>Bubble_Launcher_Model_Observer</class>
                        <method>clearCategoriesIndexCache</method>
                    </bubble_launcher_category_save_after>
                </observers>
            </catalog_category_save_after>
            <catalog_category_delete_after>
                <observers>
                    <bubble_launcher_category_delete_after>
                        <class>Bubble_Launcher_Model_Observer</class>
                        <method>clearCategoriesIndexCache</method>
                    </bubble_launcher_category_delete_after>
                </observers>
            </catalog_category_delete_after>
            <catalogrule_rule_save_after>
                <observers>
                    <bubble_launcher_catalogrule_save_after>
                        <class>Bubble_Launcher_Model_Observer</class>
                        <method>clearPromotionsIndexCache</method>
                    </bubble_launcher_catalogrule_save_after>
                </observers>
            </catalogrule_rule_save_after>
            <catalogrule_rule_delete_after>
                <observers>
                    <bubble_launcher_catalogrule_delete_after>
                        <class>Bubble_Launcher_Model_Observer</class>
                        <method>clearPromotionsIndexCache</method>
                    </bubble_launcher_catalogrule_delete_after>
                </observers>
            </catalogrule_rule_delete_after>
            <salesrule_rule_save_after>
                <observers>
                    <bubble_launcher_salesrule_save_after>
                        <class>Bubble_Launcher_Model_Observer</class>
                        <method>clearPromotionsIndexCache</method>
                    </bubble_launcher_salesrule_save_after>
                </observers>
            </salesrule_rule_save_after>
            <salesrule_rule_delete_after>
                <observers>
                    <bubble_launcher_salesrule_delete_after>
                        <class>Bubble_Launcher_Model_Observer</class>
                        <method>clearPromotionsIndexCache</method>
                    </bubble_launcher_salesrule_delete_after>
                </observers>
            </salesrule_rule_delete_after>
            <catalog_category_delete_after>
                <observers>
                    <bubble_launcher_category_delete_after>
                        <class>Bubble_Launcher_Model_Observer</class>
                        <method>clearCategoriesIndexCache</method>
                    </bubble_launcher_category_delete_after>
                </observers>
            </catalog_category_delete_after>
            <admin_user_authenticate_after>
                <observers>
                    <bubble_launcher_after_admin_login>
                        <class>Bubble_Launcher_Model_Observer</class>
                        <method>onAdminLogin</method>
                    </bubble_launcher_after_admin_login>
                </observers>
            </admin_user_authenticate_after>
        </events>
    </global>
    <admin>
        <routers>
            <adminhtml>
                <args>
                    <modules>
                        <bubble_launcher before="Mage_Adminhtml">Bubble_Launcher_Adminhtml</bubble_launcher>
                    </modules>
                </args>
            </adminhtml>
        </routers>
    </admin>
    <adminhtml>
        <layout>
            <updates>
                <bubble_launcher>
                    <file>bubblelauncher.xml</file>
                </bubble_launcher>
            </updates>
        </layout>
        <translate>
            <modules>
                <Bubble_Launcher>
                    <files>
                        <default>Bubble_Launcher.csv</default>
                    </files>
                </Bubble_Launcher>
            </modules>
        </translate>
    </adminhtml>
    <default>
        <bubble_launcher>
            <general>
                <enable>1</enable>
                <index_actions>1</index_actions>
                <index_config>1</index_config>
                <index_menu>1</index_menu>
                <index_products>0</index_products>
                <index_categories>0</index_categories>
                <index_customers>0</index_customers>
                <index_orders>0</index_orders>
                <index_attributes>0</index_attributes>
                <index_promotions>0</index_promotions>
            </general>
            <launcher>
                <min_chars>2</min_chars>
                <max_results>10</max_results>
                <hotkey>32</hotkey>
                <reset_on_hide>0</reset_on_hide>
                <use_scope>1</use_scope>
                <show_icon>1</show_icon>
                <show_scope>1</show_scope>
                <show_text>1</show_text>
            </launcher>
        </bubble_launcher>
    </default>
</config>